<div class="container map-container">
  <h2 class="map-title">Location: <%= @postcode %></h2>
  <% if @stores.empty? %>
    <p class="text-danger">There are no stores at this postcode ‼️</p>
  <% end %>
  <div style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
