// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// our cpecific colors
$coles-color: #E01A22;
$wooly-color: #146B34;
$color-beige: #FFF0E5; //for background
$orange: #FFB84C;
$teal: #00ABAE;
$color-blue-0: #F5FCFF;
$color-blue-100: #D3F2FF;
$color-blue-300: #66C4FF;
$color-blue-400: #3388FF;
$color-blue-500: #1557FF;
$color-blue-800: #1D2340;
$color-navy-100: #F3F3F5;
$color-navy-200: #DBDCE0;
$color-navy-300: #C3C5CB;
$color-navy-400: #9FA2AC;
$color-navy-500: #707382;
$color-navy-600: #585C6D;
$color-navy-700: #34394C;
$color-navy-800: #10162F;
$color-navy-900: #0A0D1C;
$color-green-0: #F5FFE3;
$color-green-100: #EAFDC6;
$color-green-400: #AEE938;
$color-green-700: #008A27;
$color-yellow-0: #FFFAE5;
$color-yellow-400: #CCA900;
$color-yellow-500: #FFD300;
$color-pink-0: #FFF5FF;
$color-pink-400: #F966FF;
$color-red-0: #E85D7F;
$color-red-100: #DC5879;
$color-red-500: #E91C11;
$color-red-600: #BE1809;
$color-orange-500: #FF8C00;
$color-hyper-400: #5533FF;
$color-hyper-500: #3A10E5;
$color-gray-100: #F5F5F5;
$color-gray-200: #EEEEEE;
$color-gray-300: #E0E0E0;
$color-gray-600: #9E9E9E;
$color-gray-800: #616161;
$color-gray-900: #424242;

 // shadow colors

$color-white-100: rgba(255,255,255,0.04);
$color-white-200: rgba(255,255,255,0.09);
$color-white-300: rgba(255,255,255,0.2);
$color-white-400: rgba(255,255,255,0.33);
$color-white-500: rgba(255,255,255,0.5);
$color-white-600: rgba(255,255,255,0.65);
$color-white-700: rgba(255,255,255,0.8);
$color-shadow-black-slight: rgba(0,0,0,0.15);
$color-shadow-black-heavy: rgba(0,0,0,0.75);
$color-shadow-white-slight: rgba(255,255,255,0.15);
$color-shadow-white-heavy: rgba(255,255,255,0.95);
