main {
  padding: 0;
}

.product-tile {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 12px;
  width: 100%;
}

.product-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 260px;
}

.image-area {
  height: 100%;
  margin-right: 25px;
  margin-bottom: 8px;
  width: 45%;
}

.product-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.save-btn {
  border: none;
  background-color: #D21404;
  // background-color: #028A0F;
  border-radius: 3px;
  padding: 8px 43%;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  position: relative;
}
