main {
  padding: 0;
}

.product-tile {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  font-family: $lexend;
  height: 100%;
  position: relative;
  padding: 12px;
  width: 100%;
}

.product-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 165px;
}

.image-area {
  height: 100%;
  margin-right: 13px;
  margin-bottom: 8px;
}

.product-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.product-name {
  color: #212121;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.prices {
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 17px;
}

.price-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  p {
    padding-right: 20px;
  }

  span {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
  }
}

.price-flex.coles {
  border: 1px solid #E01A22;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 2px 7px;
}

.price-flex.wooly {
  border: 1px solid #146B34;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 2px 7px;
}

.coles-price {
  color: #E01A22;
  margin-bottom: 0;
}

.wooly-price {
  color: #146B34;
  margin-bottom: 0;
}

.save-btn {
  border: none;
  // background-color: #D21404;
  // background-color: #028A0F;
  background-color: #ED7117;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  font-weight: 510;
  margin-top: 20px;
  padding: 8px 43%;
  position: relative;
  text-align: center;
}
