main {
  padding: 0;
}

.product-tile {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  font-family: $lexend;
  height: 100%;
  position: relative;
  padding: 12px;
  width: 100%;
}

.product-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 165px;
  text-decoration: none;
}

.image-area {
  height: 100%;
  width: 40%;
}

.product-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.name-price-area {
  margin-left: 15px;
  width: 52%;
}

.product-name {
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  // truncate the long name
  display: inline-block;
  width: auto;
  width: 177px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // truncate end
}

.prices {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 17px;
}

.price-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-decoration: none;

  p {
    padding-right: 20px;
  }

  span {
    color: #000000;
    font-size: 16px;
  }
}

.price-flex.coles {
  border: 1px solid $coles-color;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 2px 7px;
}

.price-flex.wooly {
  border: 1px solid $wooly-color;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 2px 7px;
}

.coles-price {
  color: $coles-color;
  margin-bottom: 0;
}

.wooly-price {
  color: $wooly-color;
  margin-bottom: 0;
}

a.add-btn {
  border: none;
  background-color: #ED7117;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 510;
  margin-top: 18px;
  padding: 6px 43%;
  position: relative;
  text-align: center;
  color: white;
    text-decoration: none;
}

a.disabled {
  background-color: rgb(140, 139, 139);
}

.total-price-list {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 2px 7px;
}

.total-price-list.coles {
  border: 1px solid $coles-color;
  background-color: $coles-color;
}

.total-price-list.wooly {
  border: 1px solid $wooly-color;
  background-color: $wooly-color;
}
