<!-- BANNER SECTION -->
<div class="container-fluid">
  <div class="banner">
    <div class="banner-flex">
      <h1 class="banner-txt">Track Prices, <br>
      Get the Deals!</h1>
      <div class="form">
        <label for="postcode">Enter your postcode:</label> <br>
        <input id="postcode" type="text" placeholder="3000">
        <a class="btn-location" href="#">Search</a>
      </div>
    </div>
   </div>

  <!-- BANNER SECTION END -->


  <div class="row">
    <div class="col-lg-12">
      <%= render "categories/cards" %>
    </div>
  </div>
</div>
