<main>
  <h1>Product list</h1>
  <div class="product-list">
    <% @products.each do |product| %>
      <div class="product d-flex justify-content-between">
      <div><%= link_to product.name, product_path(product.id) %></div>
        <% if current_user %>
          <div class="btn btn-secondary"><%= link_to 'Save', create_list_item_path(product, list_id: current_user.lists.last.id, quantity: 1), data: {turbo_method: :post}, class: "text-decoration-none text-white" %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</main>
