<main>
<%= render "shared/category_nav_bar", products: @products %>

<div class="product-list">
  <% @products.each do |product| %>
    <%= render "shared/showproductlist", product: product%>
  <% end %>
</div>
</main>
