<main>
  <%# <h1>Product list</h1> %>
  <div class="product-list">
    <% @products.each do |product| %>
      <%# product  %>
      <div class="product-tile">
        <div class="product-card">
          <div class="image-area">
            <%= image_tag "https://images.unsplash.com/photo-1528821128474-27f963b062bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", class:"product-image" %>
          </div>
          <div class="name-price-area">
            <%= link_to product.name, product_path(product.id), class: "product-name" %>
            <div class="product-price">$5.00</div>
          </div>
        </div>
            <% if current_user %>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Save
                </button>
                <ul class="dropdown-menu">
                  <% current_user.lists.each do |list| %>
                    <div class="ms-2"><%= link_to list.name, create_list_item_path(product, list_id: list.id, quantity: 1), data: {turbo_method: :post} %></div>
                  <% end %>
                </ul>
              </div>
            <% end %>
      </div>
      <%# product end %>
    <% end %>
  </div>
</main>
