<h1>Show Page for <%= @product.name %></h1>

<% @storeproducts.each do |product|%>
  <div><%= link_to "#{product.brand_name} - #{PriceChart.where(product: product)}", store_product_path(product) %></div>
<% end %>
