<h1>Show Page for <%= @product.name %></h1>

<div><%= @allprices[0] %></div>
<div style="width: 800px;" data-controller="chart" data-prices=<%= @allprices[0]%> ><canvas id="price-chart"></canvas></div>
