<h1>Show Page for <%= @product.name %></h1>


<div style="width: 800px;" data-controller="chart" data-prices=<%= @allprices.to_json%> ><canvas id="price-chart"></canvas></div>
<script type="module" src="chart_controller.js"></script>

<%= @allprices %>
