.product-tile.item {
  margin-bottom: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.price-flex.woolworths {
  border: 1px solid $wooly-color;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 2px 7px;
}

.woolworths-price {
  color: $wooly-color;
  margin-bottom: 0;
}

.list-name {
  width: 152px;
}

.list-prices {
  margin-top: 0;
}

.list-selector{
  display: flex;
  width: 150px;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid black;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;

  .active {
    background-color: $color-beige;
    color:black;
  }

  &:active {
    background-color: $color-beige;
  }

  &:hover {
    background-color: $color-beige; /* Green */
    color: white;
  }
}

.empty-list-message {
  background-color: rgb(232, 230, 230);
  border: none;
  border-radius: 3px;
  color: #3e3b3b;
  font-size: 14px;
  padding: 2px;
  text-align: center;
}

.delete-icon {
  color: $color-navy-700;
}
