.product-tile.item {
  margin-bottom: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.price-flex.woolworths {
  border: 1px solid $wooly-color;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 2px 7px;
}

.woolworths-price {
  color: $wooly-color;
  margin-bottom: 0;
}

.empty-list-message {
  background-color: rgb(232, 230, 230);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 2px;
  text-align: center;
}

.delete-icon {
  color: $color-navy-700;
}
