#search-bar {
  border: none;
  border-radius: 3px;
  // margin: 0 10px;
  width: 80%;
}

#search-bar:focus {
  box-shadow: 0 0 0 2px #F5CBA7;
}

.search-icon {
  background: url('icons8-search-30.png') no-repeat center center;
  background-color: $color-orange;
  border: none;
  margin-left: 18px;
  padding: 0 25px;
  border-radius: 3px;
  width: 25px;
}
