<div class="category-section">
<h2 class="category-header">Browse by category</h2>
  <div class="cards">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1579113800032-c38bd7635818?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
        <h3 class="card-title">Fresh</h3>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1643107303813-077f2061cec1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">
        <h3 class="card-title">Household</h3>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1560848119-ec9255fd285b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
        <h3 class="card-title">Dairy</h3>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1661781224922-a45d5ccc1639?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
        <h3 class="card-title">Drinks</h3>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1560781290-7dc94c0f8f4f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
        <h3 class="card-title">Meat & Seafood</h3>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1629978530604-f1390368e972?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=671&q=80" alt="">
        <h3 class="card-title">Deli</h3>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1483695028939-5bb13f8648b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
        <h3 class="card-title">Bakery</h3>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1513739373332-5c7f12df1f81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
        <h3 class="card-title">Pet</h3>
      </div>
  </div>
</div>
